@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#main {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background: black;
}
#board {
  display: flex;
  flex-direction: row;
}
#sidebar {
  background: #4B0082;
  height: 100vh;
  width: 260px;
}
#teamId {
  position: relative;
  width: 100%;
  height: 400px;
}
#scrollable-menu {
  overflow-x: hidden;
  height: auto;
  max-height: 200px;
}
ul {
  padding: 15px;
  margin: 0;
}
.teams {
  width: 100%;
  display: block;
  color: darkgray;
  font-family: 'Open Sans', sans-serif; 
  list-style-type: none;
  margin-left: auto;
}
.teams:hover {
  background: green;
  cursor: pointer;
}
.titles {
  color: silver;
}
#channelList {
  list-style-type: none;
  color: silver;
  padding-left: 10px;
}
.message {
  overflow-wrap: break-word;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  overflow-x: auto;
  color: white;
  
}
#messageBox {
  display: flex;
  height: 92vh;
  width: 100%;
  flex-direction: column;
  box-shadow: inset 0px 0px 5px #0000;
}
#chat {
  flex: 1;
  height: 93vh;
  overflow-y: scroll;
}
#footer {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: auto;
  height: auto;
  
}
#formbox {
  position: relative;
}
textarea {
  width: 100%;
  padding-right: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  box-shadow: none;
}
#button {
  position: absolute;
  background-color: grey;
  bottom: 6px;
  right: 0;
  height: 30px;
  border: 1px solid black;
  padding-bottom: 5px;
  border-radius: 5px;
}
.channel {
  display: flex;
  justify-content: space-between;
}
#addChannel {
  cursor: pointer;
  color: silver;
}
