@import url('https://fonts.googleapis.com/css?family=B612&display=swap');

#sidebar {
  height: 93vh;
  overflow-y: auto;
  width: 210px;
  background: darkslategray;
  overflow-x: hidden;
}
#teamList {
  height: 50px;
  position: relative;
}
.links {
  display: block;
  list-style-type: none;
  color: #AAAAAA;
  padding-top: 5px;
}
.links:hover {
  text-decoration: none;
  background: black;
  opacity: 0.8;
}
.title {
  font-weight: bold;
  color: #AAAAAA;
}
.title:hover {
  text-decoration: underline;
  cursor: pointer;
}
#channels {
  list-style-type: none;
}
#scrollable-menu {
  max-height: 200px;
  height: auto;
  overflow-x: hidden;
}