
#addchannel {
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid black;
}
#icon {
  margin-left: auto;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
i.fa:hover {
  background: gray;
}
.labels {
  font-weight: 600;
}