body {
  background: beige;
}
#frontPage {
  display: flex;
  justify-content: space-around;
  height: 400px;
  margin-top: 20px;
}
#frontPageInfo {
  width: 48%;
}
#homeTitle {
  font-size: 40px;
}
#homeText {
  color: #808080;
  font-size: 20px;
}
#image {
  background-image: url('computer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 48%;
}
#getStarted {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
#createTeam {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}